<%= form_with(model:[group, group_comment],local:true) do |f| %>
<div class="col mt-3">
<div class="col"><%= f.text_area :comment ,placeholder: "こちらから入力して下さい",size: "50x4" %></div>
<div class='col'><%= f.submit "送信",class: "button btn-lg" %></div>
</div>
<% end %>