<%= form_with(model:[group, group_comment],local:false) do |f| %>
    <div class="row">
        <div class="col-4"><%= f.text_area :comment ,placeholder: "こちらから入力して下さい",size: "50x4" %></div>
        <div class='col-3 ml-5 pl-5'><%= f.submit "送信",class: "button btn-lg" %></div>
    </div>
<% end %>