<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visiter) do %>
    <%#= image_tag :get_profile_image, :fill,100,100, format: "jpeg", fallback: "no_image.jpg", size: "50x50", class:"profile-img-circle" %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@post_comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @post_comment %></p>
  <% end %>
</div>