<%= render "layouts/header" %>
<div class="container">
<h3 class="mt-4 text-left">通知</h3>
    <%= link_to destroy_all_notifications_path, method: :delete do %>
        <i class="fas fa-trash ml-4 mt-3" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>
    <% end %>
    
<% if @notifications.exists? %>
    <div class="users-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
</div>