<%= render "layouts/header" %>
<div class="container">
  <%= render "form" %>
  
  <div class="cotainer mt-2">
      <%= render "index" %>
  </div>
</div>
<div style="width: auto; margin-left:550px; margin-top:10px;"><%= paginate @posts %></div>