<%= render "layouts/header" %>
<div style="font-size: 20px; color: red;">
  <%#= alert %>
</div>

<div class="container">
  <div class="col chat_for_name" style="width: fit-content;">
    <span class="name_strong">『&nbsp;<%= @user.name %>&nbsp;』</span>さんとのチャットルーム
  </div>
</div>
  
<div id="chat_remote"><%= render "chats/index", chats: @chats , user: @user, room: @room %></div>
<div id="chat_remote_form"><%= render "chats/form", chat: @chat, room: @room %></div>