<div class= "backgroud_image_about">
  
  <%= render "logo" %>
  
    <h1 class="main-text">About</h1>
    <div class="sub-text col">
      <p>「Stop! Single Golf」は全国のゴルフシングルプレイヤーの方へお届けするSNSサイトです。</p>
  
      <p class="target-user">
        &emsp; ◎<u>ゴルフが大好きな方!<br></u>
        &emsp; ◎<u>打ちっ放し練習場へ通われている方!<br></u>
        &emsp; ◎<u>ゴルフ仲間を探している方!<br></u>
        &emsp; ◎<u>ラウンドに行くウェアをお探しの方!<br></u>
        &emsp; ◎<u>ゴルフの投稿だけ見たい方!</u>
      </p>
      <p>そんな中でも特に、「ラウンドに行きたいが、ゴルフ仲間がいない。。。」とゆう方へ!!!</p>
      <p>同じ境遇の方が集まるSNSサイトで一緒にラウンドへ行くゴルフ仲間を作りましょう!</p>
    </div>
   
   <div class= "root-back">
    <%= link_to "　戻る　", root_path, class: "btn btn-lg btn-secondary btn-outline-dark text-white" %>
   </div>
   
</div>