// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.contact-form {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

.contact-name-field {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 60px;
  padding-right: 53px;
}

.contact-email-field {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 60px;
  padding-right: 50px;
}

.contact_actions {
  padding-top: 30px;
  margin-left: 30px;
  text-align: end;
}

.contact-result-message {
  font-size: 18px;
  margin-top: 20px;
}

.contact-result {
  font-size: 32px;
  margin-top: 30px;
  margin-left: 30px;
}

.result-email {
  margin-top: 30px;
}

.back_button {
  margin-top: 60px;
}

.contact_info {
  margin-top: 30px;
  margin-left: 300px;
}