// Place all the styles related to the GroupComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-comment-box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-left: double 10px #00FFFF;/*左線*/
    border-right: double 10px #00FFFF;/*右線*/
}

.scroll{
  height: 430px;
  overflow: scroll;
}

// コメント部をhoverした時にelementが動作する設定/index 親子設定
.change-element-style-group_comment .element-group_comment {
  display: none; //消す
}
.change-element-style-group_comment:hover .element-group_comment {
  display: unset; // 設定しない、hoverした時に何もしないよって意味
}