.backgroud_image_login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: image-url("login.jpeg");
  background-size: cover;
  background-position: center;
  letter-spacing: 0.05em;
}

.login {
  text-align: center;
}

.login-text {
  font-size: 64px;
  font-weight: 800;
}

.login-email-field {
  font-size: 24px;
  font-weight: 700;
  padding-top: 60px;
  padding-right: 50px;
}

.login-password-field {
  font-size: 24px;
  font-weight: 700;
  padding-top: 40px;
  padding-right: 115px;
}

.login-remember-field {
  padding-top: 5px;
  padding-right: 150px;
}

.login-actions {
  padding-top: 20px;
  margin-left: 50px;
  text-align: end;
}

.button {
  display       : inline-block;
  font-size     : 17pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 40px;   /* 余白       */
  background    : #66ff66;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 3px #666666;  /* 影の設定 */
  border        : 2px solid #66ff66;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #66ff66;     /* 背景色     */
  background    : #000000;     /* 文字色     */
  text-decoration-line: none;
}

.login-render-actions {
  padding-top: 10px;
  margin-left: 50px;
  text-align: end;
}