// Place all the styles related to the post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.scroll_post_comment {
  height: 300px;
  overflow: scroll;
}

.comment_filed {
  width: 430px;
}

// コメント部をhoverした時にelementが動作する設定/index 親子設定
.change-element-style-post_comment .element-post_comment {
  display: none; //消す
}
.change-element-style-post_comment:hover .element-post_comment {
  display: unset; // 設定しない、hoverした時に何もしないよって意味
}