// Place all the styles related to the post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.scroll_post_comment {
  height: 300px;
  overflow: scroll;
  width: 460px;
}

.comment_filed {
  width: 460px;
}