// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.posting_table {
  border-collapse: collapse;
  text-align: center;
}
.posting_table th, td {
  padding: 5px;
  border: 1px solid #333;
}
.posting_table th {
  background-color: #2c88d9;
  color: #FFF;
}


.posting_table select {
-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
-moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
appearance: none; /* 標準のスタイルを無効にする */
}

/* タイトル・本文 */
.post-box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
.post-box .p-title,.p-body {
    margin: 0; 
    padding: 0;
}

.p-title {
  color: #009900;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
}

.p-body {
  font-size: 15px;
}

 /*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.reorder-index {
  width: 220px;
  margin-left:555px;
  background-color:gainsboro;
  text-align:center;
}

.post_table {
  margin-left: 450px;
}

.pagenation {
  width: auto;
  margin-left:550px;
  margin-top:20px;
}

// swiperの設定、hover時に出現させる/show
.mySwiper .swiper-button-prev, 
.mySwiper .swiper-button-next {
  opacity: 0;
  transition: opacity 1s;
}
.mySwiper .swiper-button-prev.hover, 
.mySwiper .swiper-button-next.hover {
  opacity: 2;
}
.mySwiper .swiper-button-prev.swiper-button-disabled.hover, 
.mySwiper .swiper-button-next.swiper-button-disabled.hover {
  opacity: 0.35;
}

.image-box_stand {
  pointer-events: auto;
}

// 写真をhoverした時にelementが動作する設定/index
.change-element-style {
  pointer-events: none;
}
.change-element-style:hover .element-name {
  color: #136FFF;
}
.change-element-style:hover .element-title {
  color: #FF33CC;
}

// 画像が跳ねる/index
.image-box_stand:hover {
    animation:bounce 0.8s ease-out;
}

// アニメーションの中間ステップを制御
@keyframes bounce {
    0%    { transform:translate(0, 0); }
    16.6% { transform:translate(0, -20px); animation-timing-function:ease-in; }
    33.3% { transform:translate(0, 0); }
    49.8% { transform:translate(0, -14px); animation-timing-function:ease-in; }
    66.4% { transform:translate(0, 0); }
    83%   { transform:translate(0, -4px); animation-timing-function:ease-in; }
    100%  { transform:translate(0, 0); }
}

// 画像が円形から四角形に/cofirm
.img_wrap{
  margin: 0 auto;
  overflow: hidden;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 0.3s;
}
.img_wrap img:hover{
  border-radius: 0;
  transition-duration: 0.3s;
}
