<div class="search_form">
  <div class="row">
    <div class="col-1 mt-2">
      <%= link_to notifications_path do %>
      <i class="fas fa-bell fa-lg notification_logo" style="color: black;"></i>
      <% end %>
    </div>
    <span class="mr-5 pr-5 ml-1">
      <% if unchecked_notifications.any? %><i class="fa fa-circle fa-sm pr-1" style="color: red;"></i><% end %>
    </span>
  </div>
</div>